@media (max-width: 990px) {
    .none {
        display: none;
    }

    .header {
        &__center-btn {
            margin-bottom: 40px;
        }
    }

    .community {
        &__btn {
            margin-bottom: 40px;
        }
    }

    .customer {
        &__card {
            margin-top: 20px;
            margin-bottom: 15px;
        }

        &__title {
            text-align: center;
        }
    }

    .work {
        &__card {
            &-img {
                margin-bottom: 15px;
            }

            &-description {
                margin-bottom: 30px;
            }
        }
    }

    .footer__botom-img {
        margin-bottom: 10px;
    }

    .nav-link {
        margin: 0;
    }
    .navbar-nav .nav-link.active {
        color: $blue;
        position: relative;
        bottom: 0px;
        padding-bottom: 5px;
        border-bottom: 1px solid $blue;
    }
}

@media (max-width: 500px) {
    .footer__botom-text {
        padding-bottom: 15px;
    }
}