@media (max-width: 990px) {
    .about__img {
        width: 50%;
        height: 80%;
        height: 60vh;
        bottom: 0;
    }
    .about{
        height: 100vh;
        padding-top: 20%;
    }
    .header{
        padding-top: 20%;
    }
    .contacts{
        padding-top: 20%;
    }
    .navbar {
        background: none;
        padding-top: 20px;
    }
    .contacts__content{
        color: white;
        text-decoration: underline;
    }
    section, header{
        padding-top: 20%;
    }
}
@media (max-width: 500px) {
    .about__img {
        bottom: 0;
    }
}
