@media (max-width: 990px) {
    .about__img {
        width: 50%;
        height: 80%;
        bottom: 0;
    }

    .about {
        height: 100vh;
        padding-top: 20%;
    }

    .header {
        padding-top: 20%;
    }

    .contacts {
        padding-top: 20%;
    }

    .navbar {
        background-color: rgb(0, 0, 0, 0.4);
        padding-top: 20px;
    }

    .nav-item {
        display: flex;
        justify-content: center;
    }

    .contacts__content {
        color: white;
        text-decoration: underline;
    }

    section,
    header {
        padding-top: 20%;
    }

    .portfolio {
        height: 100%;
        padding-top: 25%;
    }

    .contacts__img-item {
        width: 70%;
    }
}

@media (max-width: 500px) {
    .about__img {
        bottom: 0;
    }

    .social__network {
        bottom: 80px;
    }

}